@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-chat: #F5DEB3;
  --title-color: #DE9B00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  width: 100%;
  height: 100dvh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-image: url("/background.png");
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: var(--font-stardew-title) ,Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: var(--title-color);
  margin-bottom: 50px;
}

.mainsection {
  text-align: center;
  background: #f2f0ef;
  border: 1px solid;
  border-radius: 20px;
  height: 100dvh;
  width: 60%;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.chatsection {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  min-height: 0;
}

.messageHistory {
  justify-content: center;
  font-family: var(--font-stardew-chat), Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
  flex-grow: 1;
  overflow-y: auto;
  min-height: 0;
}

.form {
  justify-self: center;
  bottom: 20px;
  flex-shrink: 0;
  align-self: center;
}

.user-message {
  text-align: right;
  margin: 5px;
}

.system-message {
  text-align: left;
  margin: 5px;
}

.user-message > p {
  background: var(--background-chat);
  display: inline-block;
  max-width: 475px;
  border: 3px solid #855E42;
  border-radius: 6px;
  padding: 1px 4px;
  font-size: 18px;
}

.system-message > p {
  background: var(--background-chat);
  display: inline-block;
  max-width: 475px;
  border: 3px solid #855E42;
  border-radius: 6px;
  padding: 1px 4px;
  font-size: 18px;
}

.queryBox {
  border: 1px solid;
  border-radius: 6px;
}